---
layout: docs
title: brand.title
permalink: brand
---

<section>
  <h1>{% t brand.title %}</h1>
  <p class="featured-paragraph">
    The elementary brand is unique: technically it belongs to elementary, Inc., the company that guides and supports
    development of elementary products. However, we have a great community and don’t want to be too overbearing with
    legal requirements and technicalities. As such, we have written up some guidelines to make it easier to understand
    when and how the elementary brand should be used.
  </p>
</section>

<section>
  <h2>Company and Product Names</h2>
  <p>
    The word <strong>elementary</strong> is a trademark of elementary, Inc. to refer to the company itself. It is always
    lower-case, even when beginning sentences. It may also be used along with product names (i.e. “elementary OS”) to
    refer to a specific product of elementary, Inc.
  </p>
  <p>
    The primary product of elementary, Inc. is <strong>elementary OS</strong>. For clarity, elementary OS should never
    be shortened to “elementary” or any abbreviation.
  </p>
</section>

<section>
  <h2>Brand Marks</h2>
  <p>
    elementary, Inc. claims two marks: the <strong>“elementary” logotype</strong> and the <strong>“e” logomark</strong>.
    Both are considered trademarks and represent elementary, Inc.
  </p>
  <p>Both should be used with the following in mind:</p>
  <ul>
    <li>Do not stretch, skew, rotate, flip, or otherwise alter the marks.</li>
    <li>Do not use the marks on an overly-busy background; solid colors work best.</li>
    <li>
      The marks should always be monochromatic; typically white if on a dark background, or black if on a light
      background.
    </li>
  </ul>
</section>

<section>
  <h3>Logotype</h3>
  <img src="../images/brand/logotype.png" />
  <p>
    The logotype is to be used when space allows to refer to elementary, Inc., or it can be used before a product name
    to refer to a specific product of elementary, Inc.
  </p>
  <p>The logotype should always be used under the following guidelines:</p>
  <ul>
    <li>
      Do not attempt to recreate the logotype. It is a meticulously-designed brand mark, not simply “elementary” written
      in a specific font.
    </li>
    <li>Do not use the logotype at small sizes; if it is not clear, use the logomark instead.</li>
  </ul>
</section>

<section>
  <h3>Logomark</h3>
  <img src="../images/brand/logomark.png" />
  <p>
    The “e” logomark is to be used to refer to elementary, Inc. when space is constrained or a square ratio is required.
  </p>
</section>

<section>
  <h2>Color</h2>
  <p>
    We employ the use of color combined with our name and marks to establish our brand. We use the following palette:
  </p>

  <div class="color-palette-grid">
    {% include brand/color-palette-box.html colorName="strawberry" friendlyName="Strawberry" %}
    {% include brand/color-palette-box.html colorName="orange" friendlyName="Orange" %}
    {% include brand/color-palette-box.html colorName="banana" friendlyName="Banana" %}
    {% include brand/color-palette-box.html colorName="lime" friendlyName="Lime" %}
    {% include brand/color-palette-box.html colorName="mint" friendlyName="Mint" %}
    {% include brand/color-palette-box.html colorName="blueberry" friendlyName="Blueberry" %}
    {% include brand/color-palette-box.html colorName="grape" friendlyName="Grape" %}
    {% include brand/color-palette-box.html colorName="bubblegum" friendlyName="Bubblegum" %}
    {% include brand/color-palette-box.html colorName="cocoa" friendlyName="Cocoa" %}
    {% include brand/color-palette-box.html colorName="silver" friendlyName="Silver" %}
    {% include brand/color-palette-box.html colorName="slate" friendlyName="Slate" %}
    {% include brand/color-palette-box.html colorName="black" friendlyName="Black" %}
  </div>
</section>

<section>
  <h2>Fonts</h2>
  <p>For web and print, we use Inter for headings and body copy. For code blocks, we use Roboto Mono.</p>
</section>

<section>
  <h2>Third Parties & Community</h2>
  <p>
    We invite third-party developers creating products for elementary OS to adopt certain elements of the elementary
    brand for consistency:
  </p>
  <ul>
    <li>Color</li>
    <li>Fonts</li>
    <li>Voice/tone</li>
  </ul>
  <p>However, to avoid user confusion, we do restrict the usage of the elementary name and marks:</p>
  <ul>
    <li>
      You are encouraged to say that your app or service is “designed for elementary OS,” but do not use the elementary
      name or marks as part of the name of your company, application, product, or service—or in any logo you create.
    </li>
    <li>Only use the elementary name or marks to refer to elementary, Inc. or its products (i.e. elementary OS).</li>
  </ul>
</section>

<section>
  <h3>Community</h3>
  <p>Community products (sites, fan clubs, etc.) are encouraged to use the elementary Community logo:</p>
  <div class="flex">
    <img src="../images/brand/community-color.png" />
    <img src="../images/brand/community-black.png" />
  </div>
  <p>
    This helps establish the product as part of the overall community while reducing confusion that can arise from using
    the elementary, Inc. logomark.
  </p>
</section>

<section>
  <h2>Hardware Distributors</h2>
  <p>
    As long as our software carries the elementary branding, the experience must be consistent—whether the OS was
    downloaded from our website or pre-installed on a hardware product.
  </p>
  <p>
    The software components of elementary OS may be modified and redistributed according to the open source terms of the
    software’s licensing; however, the above branding and trademarks may only be redistributed under one or more of the
    following conditions:
  </p>

  <ol>
    <li>The software remains substantially unchanged; including default apps, stylesheet and iconography, etc., or</li>
    <li>Software modifications are approved by elementary, Inc.</li>
  </ol>

  <p>
    Drivers and hardware enablement are of course acceptable. We understand that distributor branding (i.e. default
    wallpapers) can be important for distributors, so these modifications will typically be approved. If in doubt, email
    <a href="mailto:brand@elementary.io">brand@elementary.io</a> for clarification or direction.
  </p>
  <p>
    If you’re unable or unwilling to follow the elementary, Inc. trademark redistribution terms, removing our trademarks
    from the OS is simple and straightforward:
  </p>
  <ol>
    <li>
      Modify the <code>DISTRIB_DESCRIPTION</code> line in the file <code>/etc/lsb-release</code> to exclude our
      trademarks.
    </li>
    <li>
      Replace the iconography such that the icon <code>distributor-logo</code> present in
      <code>/usr/share/icons/elementary/places/</code> in each of the provided sizes does not appear in the OS.
    </li>
    <li>
      Remove or replace the packages <code>plymouth-theme-elementary</code> and
      <code>plymouth-theme-elementary-text</code>.
    </li>
  </ol>

  <p>
    For more information about OEMs and hardware distributors, see our
    <a href="{{ site.url }}{% t url_fragment %}/oem">information for OEMs</a>.
  </p>
</section>

<section>
  <h2>Merchandise</h2>
  <p>
    We do not authorize our branding (including our name or brand marks) to be used on third-party merchandise without
    explicit written approval.
  </p>
</section>

<section>
  <h2>Assets & More Info</h2>
  <a class="btn suggested-action" href="https://github.com/elementary/brand" target="_blank" rel="noopener">
    {% include svg/github.svg %} Download on GitHub
  </a>
  <p>
    For further information regarding the use of the elementary name, branding, and trademarks, please email
    <a href="mailto:brand@elementary.io">brand@elementary.io</a>.
  </p>
</section>
