---
layout: docs
title: brand.title
permalink: brand
---

<section>
  <h1>{% t brand.title %}</h1>
  <p class="featured-paragraph">
    {% t brand.featured_paragraph %}    
  </p>
</section>

<section>
  <h2>{% t brand.company_product_names.title %}</h2>
  <p>
    {% t brand.company_product_names.paragraph_1 %}
  </p>
  <p>
    {% t brand.company_product_names.paragraph_2 %}
  </p>
</section>

<section>
  <h2>{% t brand.brand_marks.title %}</h2>
  <p>
    {% t brand.brand_marks.paragraph_1 %}
  </p>
  <p>{% t brand.brand_marks.paragraph_2 %}</p>
  <ul>
    <li>{% t brand.brand_marks.guidelines.item_1 %}</li>
    <li>{% t brand.brand_marks.guidelines.item_2 %}</li>
    <li>{% t brand.brand_marks.guidelines.item_3 %}</li>
  </ul>
</section>

<section>
  <h3>{% t brand.brand_marks.logotype.title %}</h3>
  <img src="{{ site.url }}/images/brand/logotype.png" />
  <p>{% t brand.brand_marks.logotype.paragraph_1 %}</p>
  <p>{% t brand.brand_marks.logotype.paragraph_2 %}</p>
  <ul>
    <li>{% t brand.brand_marks.logotype.guidelines.item_1 %}</li>
    <li>{% t brand.brand_marks.logotype.guidelines.item_2 %}</li>
  </ul>
</section>

<section>
  <h3>{% t brand.brand_marks.logomark.title %}</h3>
  <img src="{{ site.url }}/images/brand/logomark.png" />
  <p>{% t brand.brand_marks.logomark.paragraph_1 %}</p>
</section>

<section>
  <h2>{% t brand.color.title %}</h2>
  <p>{% t brand.color.paragraph_1 %}</p>

  <div class="color-palette-grid">
    {% include brand/color-palette-box.html colorName="strawberry" friendlyName="colors.strawberry" %}
    {% include brand/color-palette-box.html colorName="orange" friendlyName="colors.orange" %}
    {% include brand/color-palette-box.html colorName="banana" friendlyName="colors.banana" %}
    {% include brand/color-palette-box.html colorName="lime" friendlyName="colors.lime" %}
    {% include brand/color-palette-box.html colorName="mint" friendlyName="colors.mint" %}
    {% include brand/color-palette-box.html colorName="blueberry" friendlyName="colors.blueberry" %}
    {% include brand/color-palette-box.html colorName="grape" friendlyName="colors.grape" %}
    {% include brand/color-palette-box.html colorName="bubblegum" friendlyName="colors.bubblegum" %}
    {% include brand/color-palette-box.html colorName="cocoa" friendlyName="colors.cocoa" %}
    {% include brand/color-palette-box.html colorName="silver" friendlyName="colors.silver" %}
    {% include brand/color-palette-box.html colorName="slate" friendlyName="colors.slate" %}
    {% include brand/color-palette-box.html colorName="black" friendlyName="colors.black" %}
  </div>
</section>

<section>
  <h2>{% t brand.fonts.title %}</h2>
  <p>{% t brand.fonts.paragraph_1 %}</p>
</section>

<section>
  <h2>{% t brand.third_party_community.title %}</h2>
  <p>{% t brand.third_party_community.paragraph_1 %}</p>
  <ul>
    <li>{% t brand.third_party_community.guidelines.item_1 %}</li>
    <li>{% t brand.third_party_community.guidelines.item_2 %}</li>
    <li>{% t brand.third_party_community.guidelines.item_3 %}</li>
  </ul>
  <p>{% t brand.third_party_community.paragraph_2 %}</p>
  <ul>
    <li>{% t brand.third_party_community.restrictions.item_1 %}</li>
    <li>{% t brand.third_party_community.restrictions.item_2 %}</li>
  </ul>
</section>

<section>
  <h3>{% t brand.third_party_community.community.title %}</h3>
  <p>{% t brand.third_party_community.community.paragraph_1 %}</p>
  <div class="flex center">
    <img src="{{ site.url }}/images/brand/community-color.png" />
    <img src="{{ site.url }}/images/brand/community-black.png" />
  </div>
  <p>{% t brand.third_party_community.community.paragraph_2 %}</p>
</section>

<section>
  <h2>{% t brand.hardware.title %}</h2>
  <p>{% t brand.hardware.paragraph_1 %}</p>
  <p>{% t brand.hardware.paragraph_2 %}</p>

  <ol>
    <li>{% t brand.hardware.conditions.item_1 %}</li>
    <li>{% t brand.hardware.conditions.item_2 %}</li>
  </ol>

  <p>{% t brand.hardware.paragraph_3 %}</p>
  <p>{% t brand.hardware.paragraph_4 %}</p>
  <ol>
    <li>{% t brand.hardware.removing_trademarks.item_1 %}</li>
    <li>{% t brand.hardware.removing_trademarks.item_2 %}</li>
    <li>{% t brand.hardware.removing_trademarks.item_3 %}</li>
  </ol>

  <p>{% t brand.hardware.paragraph_5 %}<a href="{{ site.url }}{% t url_fragment %}/oem"> {% t brand.hardware.link_text %}</a>.</p>
</section>

<section>
  <h2>{% t brand.merchandise.title %}</h2>
  <p>{% t brand.merchandise.paragraph_1 %}</p>
</section>

<section>
  <h2>{% t brand.assets.title %}</h2>
  <a class="btn suggested-action" href="https://github.com/elementary/brand" target="_blank" rel="noopener">
    {% include svg/github.svg %} {% t brand.assets.button_text %}
  </a>
  <p>
    {% t brand.assets.paragraph_1 %}
     <a href="mailto:brand@elementary.io">brand@elementary.io</a>.
  </p>
</section>
