.btn {
  display: flex;
  font-size: 1rem;
  border: 1px solid var(--color--border);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;

  &.suggested-action {
    background-color: var(--color--accent);
    background: linear-gradient(to bottom, var(--color--accent-300), var(--color--accent));
    color: white;
  }

  svg {
    width: 1rem;
    margin-right: 0.7rem;
  }
}
