.docs-container {
  --docs-grid-template-columns: 1fr #{'min(65ch, 100%)'} 1fr;

  display: grid;
  grid-template-columns: var(--docs-grid-template-columns);

  > * {
    grid-column: 2;
  }

  section {
    margin: 2rem 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.full-bleed {
      grid-column: 1 / 4;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    &.feature-banner {
      background-color: var(--color-background-darker);
      grid-column: 1 / 4;
      margin-left: 0;
      margin-right: 0;
      padding: 2rem 1em;

      display: grid;
      grid-template-columns: var(--docs-grid-template-columns);

      > * {
        grid-column: 2;
      }
    }
  }

  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    @media (min-width: 320px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h4 {
    font-size: 1.1em;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h5 {
    font-size: 0.8em;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-bottom: 0.4rem;
    margin-top: 0.6rem;
  }

  p {
    line-height: 1.85;
    margin: 0.5rem 0;
    font-size: 1rem;
    width: 100%;

    &.featured-paragraph {
      font-size: 1.2rem;
    }
  }

  ul,
  ol {
    margin-left: 2rem;
    width: calc(100% - 2rem);
    width: 100%;

    li {
      line-height: 1.85;
      margin: 1rem 0;
      font-size: 1rem;
    }

    &.compact {
      li {
        margin: 0;
      }
    }
  }

  ul {
    list-style: initial;
  }

  ol {
    margin-left: 5rem;
    width: calc(100% - 5rem);
  }

  img {
    width: auto;
    max-width: 100%;
    margin: 2rem 0;
  }

  // Links with app icons, as seen in Support and Privacy pages
  .app-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .app {
      border-radius: 4px;
      border: 1px solid transparent;
      color: inherit;
      margin: 12px 0;
      padding: 12px;
      text-align: left;
      transition: border-color 150ms ease-in-out;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;

      &:hover {
        border-color: var(--color-border);
      }

      span {
        line-height: 24px;
        padding: 16px 12px 0;
        line-height: 24px;
        padding: 0 12px;
        font-size: 16px;
      }

      img {
        height: 64px;
        width: 64px;
      }
    }

    @media (min-width: 600px) {
      flex-direction: row;

      .app {
        text-align: center;
        flex: 0 1 192px;
        flex-direction: column;
        height: auto;
      }
    }

    &.compact {
      flex-direction: row;

      .app {
        text-align: center;
        flex: 1 1 86px;
        flex-direction: column;

        img {
          height: 36px;
          width: 36px;
          margin: .5rem 0;
        }
      }
    }
  }
}
