html,
body {
  background-color: $color-background;
  color: $color-foreground-dark;
  fill: $color-foreground-dark;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

#content-container {
  flex-grow: 1;
}

ul {
  li {
    a {
      
    }
  }
}

hr {
  background: $color-border;
  border: 0;
  height: 1px;
}

.flex {
  display: flex;
}