$palette-accent: $palette-blueberry;
$color-accent: map-get($palette-accent, 500);
$color-background: #FFFFFF;
$color-foreground-dark: #333333;
$color-foreground-light: #FFFFFF;
$color-border: rgba(0, 0, 0, 0.2);

// Accent colors for third-party links
$color-facebook: #19227e;
$color-reddit: #ff4500;
$color-twitter: #1da1f2;