.slide-container {
  overflow: hidden;
  position: relative;
  transition: height 200ms ease-in-out;
  width: 100%;
}

.slide {
  transition: transform 200ms ease-in-out, opacity 100ms linear;
}

.slide.active,
.slide.next,
.slide.previous {
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.slide.active {
  filter: alpha(opacity=100);
  opacity: 1;
  transform: translateX(0%);
}

.slide.next {
  filter: alpha(opacity=0);
  opacity: 0;
  transform: translateX(200%);
}

.slide.previous {
  filter: alpha(opacity=0);
  opacity: 0;
  transform: translateX(-200%);
}

.float-left {
  float: left;
  margin: 0 0.5em 0.5em 0;
}

.clear,
.clear-both {
  clear: both;
}
