<footer class="elementary--footer">
  <nav>
    <ul>
      <li>
        <p>Copyright &copy; {{ 'now' | date: "%Y" }} elementary, Inc.</p>
      </li>
      <li>{% include footer/language-popover.html %}</li>
    </ul>
    <ul>
      <li><a href="{{ site.url }}{% t url_fragment %}/press">{% t footer.press %}</a></li>
      <li><a href="{{ site.url }}{% t url_fragment %}/brand">{% t footer.brand %}</a></li>
      <li><a href="{{ site.url }}{% t url_fragment %}/oem">{% t footer.oem %}</a></li>
      <li><a href="{{ site.url }}{% t url_fragment %}/privacy">{% t footer.privacy %}</a></li>
      <li><a href="{{ site.url }}{% t url_fragment %}/team">{% t footer.team %}</a></li>
      <li><a href="{{ site.url }}{% t url_fragment %}/open-source">{% t footer.open_source %}</a></li>
    </ul>
  </nav>
</footer>
