---
url: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{% t page.title %} ⋅ {% endif %}{% t global.site_title %}</title>

    {% include base/meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
  </head>

  <body>
    {% include base/header.html %}

    <div id="content-container">{{ content }}</div>

    {% include base/footer.html %} {% include base/analytics.html %}
  </body>
</html>

<script>
  // If the language has been set previously, don't run this
  if (!localStorage.getItem('lang')) {
    var availableLanguages = [{% for lang in site.languageNames %}'{{ lang[0] }}',{% endfor %}];

    // Function to check if any language is already set in the URL
    var urlChecker = value => window.location.pathname.includes(`/${value}`);

    // If the URL does not specify a language...
    if (availableLanguages.filter(urlChecker).length === 0) {
      var lang = navigator.language || navigator.userLanguage;
      if (lang) {
        lang = lang.replace('-', '_');
      }

      // ...and the browser language is supported...
      if (availableLanguages.indexOf(lang)) {
        // ... then let's save that language to localStorage to remember, and navigate to it
        localStorage.setItem('lang', lang);
        window.location = '{{ site.url }}/' + lang + '/{{ page.permalink }}';
      }
    }
  }
</script>
