@import url('/fonts/inter.css');

:root {
  --ui-font: Inter, Helvetica, Roboto, sans-serif;
}

a {
  color: #08c;
  fill: #08c;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0;
}

h1 svg {
  height: 45px;
  max-width: 100%;
  position: relative;
  top: 11px;
  width: 310px;
}

h1 .logotype-svg {
  fill: inherit;
}

@media (min-width: 966px) {
  h1 {
    font-size: 48px;
  }
}

h1 + p {
  font-size: 1.25em;
  line-height: 1.33;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 16px;
  padding: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  opacity: 0.8;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 16px;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 0;
  text-align: left;
}

p {
  text-align: left;
  line-height: 1.65;
}

p.small-label {
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  padding: 0;
  text-align: center;
}

q {
  font-family: 'Marck Script', cursive;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

q::before,
q::after {
  content: none;
}

@media (min-width: 414px) {
  q {
    font-size: 36px;
  }
}

hr {
  background: #c9c9c9;
  border: none;
  height: 1px;
}

img {
  max-width: 100%;
}

img.h1 {
  display: block;
  height: 27px;
  margin: 19px auto;
  opacity: 0.8;
}

div.inline,
img.inline {
  display: inline-block !important;
  vertical-align: middle;
}

img.inline + div.inline {
  margin-left: 12px;
}

.inline-tweet {
  color: inherit;
}

.inline-tweet:focus,
.inline-tweet:hover {
  color: #08c;
  text-decoration: none;
}

.inline-tweet::after,
.inline-tweet::after {
  color: inherit;
  content: '\f099';
  font-family: 'Font Awesome\ 5 Brands';
  font-style: normal;
  font-weight: inherit;
  margin-top: 0.2em;
  opacity: 0;
  padding-left: 6px;
  position: absolute;
  transition: all 0.15s ease-in-out;
}

.inline-tweet:focus::after,
.inline-tweet:hover::after {
  opacity: 1;
}

.read-more::after {
  color: inherit;
  content: '→';
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  padding-left: 3px;
  transition: transform 0.15s ease-in-out;
}

.read-more:hover::after {
  transform: translateX(3px);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
